@charset "utf-8";

/***************** B. 메인영역 *****************/
/* 메인 공통 */
.main_page {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* 메인1 컨텐츠 */
.main_content_wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

.leftTxt {
    position: absolute;
    color: #fff;
    z-index: 9;
    left: 10%;
}

.left_side_moveIn_txt1 {
    font-size: 2.5rem;
    top: 35%;
    animation: txtSlideL 2s;
}

.left_side_moveIn_txt2 {
    font-size: 1.7rem;
    top: 45%;
    animation: txtSlideL 2.1s;
}

@keyframes txtSlideL {
    from {
        left: -30%;
        opacity: 0;
    }

    to {
        left: 10%;
        opacity: 1;
    }
}

@keyframes txtDisappearL {
    from {
        left: 10%;
        opacity: 1;
    } 

    to {
        left: -30%;
        opacity: 0;
    }
}

.pagination_countUp {
    position: absolute;
    z-index: 99;
    bottom: 5%;
    right: 5%;
}

.pagination_countUp > span {
    font-size: 23px;
}

.rightTxt {
    position: absolute;
    color: #fff;
    z-index: 9;
    right: 15%;
} 

.right_side_moveIn_txt1 {
    font-size: 2.5rem;
    top: 60%;
    animation: txtSlideR 2s;
}

.right_side_moveIn_txt2 {
    font-size: 1.7rem;
    top: 70%;
    animation: txtSlideR 2.1s;
}

@keyframes txtSlideR {
    from {
        right: -30%;
        opacity: 0;
    }

    to {
        right: 15%;
        opacity: 1;
    }
}

@keyframes txtDisappearR {
    from {
        right: 15%;
        opacity: 1;
    } 

    to {
        right: -30%;
        opacity: 1;
    }
}

#horizontal_circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 10px;
    background-color: pink;
}

.content_slide_list {
    position: relative;
    width: 100%;
    height: 100%;
}

.content_slide_list li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .4s ease-out;
    opacity: 0;
}

.content_slide_list img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content_slide_list li.on {
    opacity: 1;
}

.visual_popup_wrapper {
    display: flex;
    gap: 0 15px;
    position: absolute;
    left: 4%;
    bottom: 3%;
}

.visual_popup_wrapper > div {
    padding: 0 12px;
}

.go_video {
    width: 188px;
    height: 188px;
}

.go_video img {
    width: 100%;
    height: 100%;
}

.close_cursor {
    background-color: #f5f5f5;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    cursor: pointer;
}

.close_cursor > span {
    color: #333;
    font-size: 12px;
    white-space: nowrap;
} 

/* 페이지네이션 */
.main_pg_time {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 200px;
    height: 10px;
    bottom: 5%;
    right: 20px;
    font-size: 1.4rem;
    z-index: 1;
    font-size: 1.4rem;
    color: #fff;
}

.main_timebar {
    position: absolute;
    width: 150px;
    height: 2px;
    bottom: -22.5%;
    left: 12.5%;
    background-color: rgba(255,255,255,0.3);
}

.main_timebar span {
    position: absolute;
    width: 0;
    height: 100%;
    background-color: #fff;
}

/* 클래스 on */
.main_timebar.on span {
    animation: timebarAni 5s linear infinite;
}

@keyframes timebarAni {
    0%{
        width: 0%;
    }
    100% {
        width : 100%;
    }
}

/* 메인2 컨텐츠 */
.main_left_content, .main_right_content {
    width: calc(100%/2);
    position: relative;
}

.main_left_content {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.menu_seclection {
    position: absolute;
    left: 9%;
    color: #000000;
    top: 11%;
    z-index: 2;
}

.main_menu_info {
    font-size: 60px;
    color: #fff;
    white-space: nowrap;
}

.full_menu {
    display: flex;
    flex-direction: column;
}

.full_menu > span {
    font-size: 22px;
    margin-top: 15px;
    width: fit-content;
    color: #fff;
    cursor: pointer;
}

.full_menu > span.txt_bold {
    font-weight: bold;
    border-bottom: 3px solid #fff;
}

.display_menu_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.display_menu_center > figure {
    width: 330px;
}

.display_menu_center > figure > img {
    width: 100%;
    height: 100%;
}

.main_right_content_wrapper {
    margin: 0 auto;
    width: 80%;
}

.select_menu {
    margin-top: 15%;
    margin-left: 20%;
}

.select_menu_title {
    font-size: 2.2rem; /* 타이틀fz: 35.2px */
    margin-bottom: 20px;
}

.select_menu_info {
    font-size: 1.13rem; /* 본문fz: 18.08px */
}

.topping_menu_wrapper {
    position: relative;
    display: flex;
}

.topping_menu_wrapper > .topping_menu {
    width: calc(100%/3);
}

.topping_menu_wrapper > .topping_menu > img {
    max-width: 100%;
}

.topping_menu_list {
    margin: 50px 0;
    margin-left: 20%;
}

.recommend_topping {
    position: relative;
    margin-left: 20%;
    /* bottom: 80px; */
}

.topping_item_list {
    display: flex;
    gap: 0 20px;
}

.topping_item > img {
    width: 70px;
    height: 70px;
}

.recommend_topping_info {
    margin-bottom: 30px;
    border-bottom: 1px solid var(--main-brand-color);
}

.recommend_topping_info > h3 {
    margin-bottom: 10px;
    font-size: 21.5px;
}

.topping_item > figcaption {
    margin-top: 10px;
    font-size: 14px;
}

.side_bg {
    position: absolute;
    width: 100%;
    height: 100%;
} 

.side_bg > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.signature {
    background-repeat: no-repeat;
    background-size: cover;
}

/* 메인3 컨텐츠 */
.identity_title {
    display: flex;
    margin: 150px 0;
}

.identity_title img {
    display: block;
    margin: 0 auto;
}

.identity_bg img {
    width: 100%;
}

.slide_message {
    width: 100%;
    height: 6rem;
    overflow: hidden;
    border-bottom: 1px solid var(--main-brand-color);
}

.slide_message_wrapper {
    width: 200%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.slide_message li {
    color: var(--main-brand-color);
    font-family: var(--main-brand-font);
    font-size: 36px;
    font-weight: normal;
    padding-left: 20px;
    text-align: center;
    animation: moveText 4s linear infinite;
}

.slide_message img {
    vertical-align: middle;
}

@keyframes moveText {
    to {
        transform: translateX(-100%);
    }
}

/* 메인4 컨텐츠 */
.cont4_br1, .cont4_br3 {
    display: none;
}

.donation_challenge_content1_box > h2 {
    font-size: 50px;
    white-space: nowrap;
    line-height: 60px;
}

.donation_challenge_content1_box > p {
    margin-top: 30px;
    font-size: 18px;
}

.left_info_content_wrapper {
    width: 60%;
    height: 100%;
    position: relative;
}

.right_info_content {
    position: relative;
    width: 40%;
}

.donation_challenge_content2_box {
    display: flex;
    flex-direction: column;
    padding: 40px 60px;
    margin-top: 40px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.left_info_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.charity_count_title {
    font-size: 1.4rem;
    font-weight: var(--title-font-weight);
}

.charity_count_date {
    color: var(--main-brand-color);
    opacity: 0.3;
}

.charity_count {
    color: var(--main-brand-color);
    margin-top: -20px;
    font-size: 140px;
    font-weight: bold;
}

.charity_count_wrap {
    white-space: nowrap;
}

.charity_count::after {
    content: 'PACK';
    font-size: 32px;
    margin-left: 20px;
    font-weight: 600;
}

.circle_contents {
    position: absolute;
    top: 50%;
    right: -1.3rem; /* right: 16px */
    transform: translate(0, -50%);
    border-top-left-radius: 500px;
    border-bottom-left-radius: 500px;
    border: 2px solid rgba(235, 86, 46, 0.4);
    width: 400px;
    height: 750px;
}

.main_circle {
    position: absolute;
    top: 50%;
    transform: translate(-45%, -50%);
    background-image: url(../img/auto_circle_00.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 550px;
    height: 550px;
}

.sub_circle {
    position: absolute;
    top: -2%;
    right: 10px;
    transform: translate(-50%, -20%);
    background-image: url(../img/auto_circle_01.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 130px;
    height: 130px;
}

.br_fir {
    display: none;
}